
<div>
    <nav class="nav-bar">
        <span class="spacing">
            <a (click)="goToIndex()">HOME</a>
            <a (click)="goToabout()">ABOUT</a>
            <a (click)="goTocarrer()">CARRER</a>
            <a (click)="goToproject()">PROJECT</a>
            <a (click)="goTocontact()">CONTACT</a>
        </span>
        <a href="#"><img src="assets/image/menubar.jpg" class="img1"></a>
    </nav>
</div>
<app-body-part></app-body-part>
<app-home-body-part2></app-home-body-part2>
<app-home-body-part3></app-home-body-part3>
<app-home-body-part4></app-home-body-part4>
<app-home-body-part5></app-home-body-part5>
<app-footer></app-footer>
<router-outlet></router-outlet>