<div class="block">
    <h1 class="heading">Hello,  &nbsp;I'&nbsp;m priya.</h1>
    <h2 class="heading1">Front-End Developer</h2>
    <h4 class="heading2">i'm a graduate Front-End Developer passionated about creating intractive <br>applications,
        i can design and code beautifully simple thinks and<br> i love what i do.
    </h4>
    <a (click)="linkedin()"><img src="assets/image/linkedin.jpg" class="img1"></a>
    <a (click)="git()"><img src="assets/image/git.jpg" class="img1"></a>
    <a (click)="twiiter()"><img src="assets/image/twitter.jpg" class="img1"></a>

    <div>
        <a href="assets/priya resume(updated).pdf" target="_blank" download="priya resume(updated).pdf"><button type="button" [class]="'button2'" >Resume</button></a>
    </div>
</div>