<div class="body1">
    <h2 class="hd1">Portfolio</h2>
    <h4 class="hd2">Obviously I'm a Web Designer. And searchong for job to showcase my skills and enhance my skill.</h4>
    <a (click)="linkedin()"><img src="assets/image/linkedin.jpg" class="img1"></a>
    <a (click)="git()"><img src="assets/image/git.jpg" class="img3"></a>
    <a (click)="twiiter()"><img src="assets/image/twitter.jpg" class="img4"></a>
</div>
<div class="body">
    <div>
        <img src="assets/image/copyright.jpg" class="img2">
        <p class="p1">Portfolio. Design by Priya</p>
    </div>
</div>