<div class="sidede"></div>
<div class="sidede1"></div>
<div class="block2">

    <img src="assets/image/pic (1).jpeg" class="img2">
</div>
<div class="about">
    <h3 class="heading">About Me</h3>
    <div class="head-body">
        <h4>Hi I'm a Frontend Web Developer building the Front-end of Websites that leads to the success of
            the overall product. Check out some of my work in the Projects section.
        </h4>
        <h4>I’ve just graduated from computer science. Looking for my first job, I decided to go with&nbsp; web
            development,
            since I understand that it is impossible to succeed in almost any business without some online presence.
            Hence I know the opportunities are there and will stay there. I specialize&nbsp;&nbsp;&nbsp; in creating
            websites and web applications using
            HTML, CSS, and JavaScript.</h4>
        <h4>I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity
            that matches my skills and experience then don't hesitate to contact me.</h4>

            <a (click)="gotocontact()"><button type="button" [class]="'button1'" >contact</button></a>
            <a (click)="gotoabout()"><button type="button" [class]="'button2'" >More About Me</button></a>
    </div>
</div>