.design1{
    margin-left: 926px;
    border: 1px solid white;
    width: 413px;
    height: 460px;
    border-radius: 95px 55px 55px 75px;
    background-image:linear-gradient(to left, #cc2b5e , #753a88);
}