<div class="block1">
    <h1 class="heading">Angular Project</h1>
    <div class="box">
        <div class="image">
            <img src="assets/image/pp6.jpg" class="p1">
            <div class="b1">
                <img src="assets/image/plogo.jpg" class="pl">
                <h3 class="he">Portfolio Website</h3>
                <img src="assets/image/calender.jpg" class="p2">
                <h4 class="he2">25 July 2023</h4>
                <img src="assets/image/circle.jpg" class="p3">
                <h4 class="he3">Html Css Ts Angular</h4>
                <h4 class="he4">This is my one of the project of Personal Portfolio
                     with simple interface and beautiful interface using Html , Css Ts and Angular framework.</h4>
            </div>
        </div>
        <hr class="line">
    </div>
</div>
<router-outlet></router-outlet>