<div class="block1">
    <h1 class="heading">Project</h1>
    <div class="box">
        <div class="image">
            <img src="assets/image/pp1.jpg" class="p1">
            <div class="b1">
                <img src="assets/image/plogo.jpg" class="pl">
                <h3 class="he">Portfolio Website</h3>
                <img src="assets/image/calender.jpg" class="p2">
                <h4 class="he2">21 may 2023</h4>
                <img src="assets/image/circle.jpg" class="p3">
                <h4 class="he3">Html Css Js</h4>
                <h4 class="he4">This is my first internship project from codeclause of porfolio<br> website of mine.
                                with simple interface and beautiful interface<br> using Html , Css , Js.
                </h4>
            </div>
        </div>
        <hr class="line">
    </div>
    <! -- 2nd block -->
    <div class="box">
        <div class="image">
            <img src="assets/image/pp2.jpg" class="p1">
            <div class="b1">
                <img src="assets/image/bb.jpg" class="pl">
                <h3 class="he">Cake Website</h3>
                <img src="assets/image/calender.jpg" class="p2">
                <h4 class="he2">10 Dec 2022</h4>
                <img src="assets/image/circle.jpg" class="p3">
                <h4 class="he3">Html Css Js Php</h4>
                <h4 class="he4">This is my semester end project of college
                                with simple interface and beautiful interface using Html , Css , Js and bit php for 
                                backend and user can user can see it on <a href="https://wontract.com/mainpage.html">www.wontrat.com</a></h4>
            </div>
        </div>
        <hr class="line">
    </div>
    <! -- 3nd block -->
    <div class="box">
        <div class="image">
            <img src="assets/image/pp3.jpg" class="p1">
            <div class="b1">
                <img src="assets/image/plogo.jpg" class="pl">
                <h3 class="he">Yoga Landing Page</h3>
                <img src="assets/image/calender.jpg" class="p2">
                <h4 class="he2">10 june 2023</h4>
                <img src="assets/image/circle.jpg" class="p3">
                <h4 class="he3">Html Css js</h4>
                <h4 class="he4">This is my first internship project from codeclause of Landing<br>webpage of yoga
                    with simple interface and beautiful interface<br> using Html , Css .</h4>
            </div>
        </div>
        <hr class="line">
    </div>
    <div>
        <a (click)="goToproject()"><button type="button" [class]="'button1'" >Tap to Know Me</button></a>
    </div>
</div>