<div class="body">
    <div class="circle">
        <img src="assets/image/profile.jpg" class="img11">
        <div class="des-cir">
        </div>
        <div class="hide">
        </div>
    </div>
</div>
<div class="body11">
    <h2 class="hd21">hello i'm</h2>
    <h1 class="hd31">Priya Kumari</h1>
    <p class="p11">Hi I'm a Frontend Web Developer building the Front-end of Websites that leads to the 
        success of the overall product. Check out some of my work in the Projects section.
    <br><br>
    I’ve just graduated from computer science. Looking for my first job, I decided to go with  web development, since I understand that it is impossible to succeed in almost any business without some online presence. Hence I know the opportunities are there and will stay there. I specialize    in creating websites and web applications using HTML, CSS, and JavaScript.
    <br>
    <br>
    I'm open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to contact me.
    </p>
    <div class="des-cir2">

    </div>
    <div class="hide2">

    </div>
</div>
<div class="body1">
    <h2 class="hd1">Portfolio</h2>
    <h4 class="hd2">Obviously I'm a Web Designer. And searchong for job to showcase my skills and enhance my skill.</h4>
    <a (click)="linkedin()"><img src="assets/image/linkedin.jpg" class="img1"></a>
    <a (click)="git()"><img src="assets/image/git.jpg" class="img3"></a>
    <a (click)="twiiter()"><img src="assets/image/twitter.jpg" class="img4"></a>
</div>
<div class="body12">
    <div>
        <img src="assets/image/copyright.jpg" class="img2">
        <p class="p1">Portfolio. Design by Priya</p>
    </div>
</div>