.img2{
    margin-top: 6px;
    margin-left: 5px;
    width: 360px;
    height: 490px;
    border-radius: 120px;
}
.outerlines{
    border: px solid white;
    border-radius: 120px;
    width: 370px;
    height: 500px;
    margin-top: -300px;
    margin-left: 770px;
    position: absolute;
    background-image:linear-gradient(to left, #cc2b5e , #753a88);
    box-shadow: black;
}